{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'media/img/Logo_La-Amiko-Esperantisto.png' %}" alt="Logo" width="50" height="50"
                class="d-inline-block align-text-top">
            Amiko Esperantisto
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" href="{% url 'home' %}">Inicio</a>
                <a class="nav-link active" href="{% url 'libros' %}">Materiales</a>
                <a class="nav-link active" href="">Sobre nosotros</a>
                
                <!-- Verifica si le usuario está autenticado -->
                {% if user.is_authenticated %}
                    <!-- Si está autenticado, se muestra el nombre de usuario y el botón de cerrar sesión -->
                    <div class="dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                            <img src="{% static 'media/img/Logo_La-Amiko-Esperantisto.png' %}" alt="Logo" width="25" height="25" class="d-inline-block align-text-top">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Configuraciones</a></li>
                            <li><a class="dropdown-item" href="">Cerrar sesión</a></li>
                        </ul>
                    </div>
                {% else %}
                    <!-- Si no está autenticado, muestra los botones de iniciar sesión y registrarse -->
                    <a class="nav-link active" href="{% url 'loginV' %}">Iniciar sesión</a>
                    <a class="nav-link active" href="{% url 'signup' %}">Registrate</a>
                {% endif %}
                
            </div>
        </div>
  </div>
</nav>

